.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: rgb(89, 89, 89);
  border: none;
  cursor: pointer;
  width: 25%;
  margin: 20px;
  padding: 5px;
}